<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        Base title
    {% endblock %}</title>
</head>
<body>
    {% block body %}
        Base body
    {% endblock %}
</body>
</html>
