{% extends 'app_pages/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Our translation page title" %}
{% endblock %}

{% block body %}
    <p>{% trans "Translated text" %}</p>

    {% get_current_language as LANGUAGE_CODE %}
    {% get_language_info for LANGUAGE_CODE as lang %}
    Language code: {{ lang.code }}<br>
    Name of language: {{ lang.name_local }}<br>
    Name in English: {{ lang.name }}<br>
    Bi-directional: {{ lang.bidi }}<br>
    Name in the active language: {{ lang.name_translated }}

    {% language 'en' %}
        <p>{% trans "Welcome to our page" %}</p>
    {% endlanguage %}

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="text" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"
                    {% if language.code == LANGUAGE_CODE %} selected
                    {% endif %} >
                    {{ language.name_local }} {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>

{% endblock %}
