{% extends 'shopapp/base.html' %}

{% block title %}
    Products list
{% endblock %}

{% load cache %}

{% block body %}
    <h1>Products:</h1>
    {% if products %}
        {% cache 500 footer %}
            <div>
            {% for product in products %}
                <div>
                    <p><a href="{% url 'shopapp:product_details' pk=product.pk %}">Name: {{ product.name }}</a></p>
                    <p>Price: {{ product.price }}</p>
                    <p>Discount: {% firstof product.discount 'no discount' %}</p>

                    {% if product.preview %}
                        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endcache %}
    {% else %}
        <h3>No products yet</h3>
    {% endif %}

    <div>
        <a href="{% url 'shopapp:product_create' %}">Create a new product</a>
    </div>
{% endblock %}

