{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
    Shop Index
{% endblock %}

{% block body %}
    <h1>Hello, Shop Index!</h1>
    <div>
        <ul>
            {% for name, price in products %}
                <li>{{ name }} ({{ name|length }}) for ${{ price }}</li>
                {% if name|length_is:'7' %}
                    <span>Lucky Product</span>
                {% endif %}

                {% empty %}
                No products here
            {% endfor %}
            
        </ul>
    </div>

    <div>
        Time running: {{ time_running }}
    </div>

    {% cache 100 lorem products %}
    <div>
        {% lorem 3 p random %}
    </div>
    {% endcache %}

{% endblock %}
